<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"  rel="stylesheet" type="text/css">
<link th:href="@{/css/registro.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" href="/static/css/index.css">
<title>GRUPO8</title>
</head>
<body>
<header>
<div class="menu">
<nav>
   <ul>
   <li class="barra"><a class="texto" href="/otroUsuario">Registrar Usuario</a></li>
      <li class="barra"><a class="texto" href="/otroCurso">Registrar Curso</a></li>
      <li class="barra"><a class="texto" th:href="@{/listarUsuario}">Lista de Usuarios</a></li>
      <li class="barra"><a class="texto" href="/listarCursos">Lista de Cursos</a></li>
   </ul>
</nav>
</div>
</header>
<div class= "container">
	<div class="alert alert-success alert-dismissible fade show row" role="alert" th:if="${formUsuarioErrorMessage}" >
		<label th:text="${formUsuarioErrorMessage}"></label>  
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>
</div>

<div class="container">
<h4> Formulario de Inscripcion</h4>
<form th:object="${usuariocurso}" th:action="@{/guardarInscripcion}" method="post">
		
   <div class="mb-3" th:if="${editMode == false}">
    <label for="alumnosID" class="form-label">Alumnos</label>
    
    <select class="form-control" th:field="*{usuario.dni}" >
    <option th:each="u:${usuarios}" th:value="${u.dni}" th:text="${u.apellido}"></option>
    </select>
  
  </div>
  <div class="mb-3">
    <label for="cursosID" class="form-label">Cursos</label>
   <select class="form-control" th:field="*{curso.id}" >
    <option th:each="c:${cursos}" th:value="${c.id}" th:text="${c.nombre}"></option>
    </select>
  </div>
    <div class="mb-3">
    <label for="birthdateID" class="form-label">Fecha de Inscripcion</label>
    <input th:field="*{fechaDeInscripcion}" type="date" class="form-control" id="birthdateID">
  </div>
  <button type="submit" class="botons">Inscribir</button>
  <a class="botons" th:href="@{/}">Volver</a>
  
</form>


</div>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>