<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"
	href="/static/css/index.css">
<link th:rel="stylesheet" type="text/css">
<meta charset="ISO-8859-1">
<title>GRUPO8</title>
</head>
<body>
	<header>
		<div class="menu">
			<nav>
				<ul>
					<li class="barra"><a class="texto" href="/otroUsuario">Registrar Usuario</a></li>
					<li class="barra"><a class="texto" href="/otroCurso">Registrar Curso</a></li>
					<li class="barra"><a class="texto" th:href="@{/listarUsuario}">Lista de Usuarios</a></li>
					<li class="barra"><a class="texto" href="/listarCursos">Lista de Cursos</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<footer> arias-alancay-farfan-segovia </footer>

</body>
</html>