<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"  rel="stylesheet" type="text/css">
<link th:href="@{/css/registro.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" href="/static/css/index.css">
<title>GRUPO8</title>
</head>
<body>
<header>
<div class="menu">
<nav>
   <ul>
     <li class="barra"><a class="texto" href="/otroUsuario">Registrar Usuario</a></li>
      <li class="barra"><a class="texto" href="/otroCurso">Registrar Curso</a></li>
      <li class="barra"><a class="texto" th:href="@{/listarUsuario}">Lista de Usuarios</a></li>
      <li class="barra"><a class="texto" href="/listarCursos">Lista de Cursos</a></li>
   </ul>
</nav>
</div>
</header>
<div class= "container">

	<div class="alert alert-success alert-dismissible fade show row" role="alert" th:if="${formCourseMessage}" >
		<label th:text="${formCourseMessage}"></label>  
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>
</div>

<div class="container">
<h4> Formulario de Curso</h4>
<form th:object="${curso}" th:action="${band}?@{/editarCurso}:@{/guardarCurso}"method="post">
  
	  <input type="hidden" class="form-control"  th:if="${band}" th:field="*{id}">
	  
  <div class="mb-3">
    <label for="nombreID" class="form-label">Nombre</label>
    <input th:field="*{nombre}" type="text" class="form-control" id="nombreID" required>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
  </div>
  <div class="mb-3">
    <label for="descripcionID" class="form-label">Descripcion</label>
    <input th:field="*{descripcion}" type="text" class="form-control" id="descripcionID" required>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
  </div>
    <div class="mb-3">
    <label for="fechainicioID" class="form-label">Fecha de Inicio</label>
    <input th:field="*{fechainicio}" type="date" class="form-control" id="fechainicioID">
    <div class="alert alert-danger" th:if="${#fields.hasErrors('fechainicio')}" th:errors="*{fechainicio}"></div>
  </div>
    <div class="mb-3">
    <label for="costoID" class="form-label">Costo</label>
    <input th:field="*{costo}" type="number" class="form-control" id="costoID" required>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('costo')}" th:errors="*{costo}"></div>
  </div>
   <div class="mb-3">
    <label for="valoracionID" class="form-label">Valoracion</label>
    <input th:field="*{valoracion}" type="number" class="form-control" id="valoracionID" required>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('valoracion')}" th:errors="*{valoracion}"></div>
  </div>
   <div class="mb-3">
    <label for="duracionID" class="form-label">Duracion</label>
    <input th:field="*{duracion}" type="number" class="form-control" id="duracionID" required>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('duracion')}" th:errors="*{duracion}"></div>
  </div>
   <div class="mb-3">
    <label for="docenteID" class="form-label">Docente</label>
    <input th:field="*{docente}" type="text" class="form-control" id="docenteID" required>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('docente')}" th:errors="*{docente}"></div>
  </div>
   <div class="mb-3">
    <label for="cupoID" class="form-label">Cupo</label>
    <input th:field="*{cupo}" type="number" class="form-control" id="cupoID" required>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('cupo')}" th:errors="*{cupo}"></div>
  </div>
  <button type="submit" class="botons btn-primary"><span th:text="${band}?'Modificar':'Guardar'"></span></button>
   <a class="botons btn-light" th:href="@{/}">Volver</a>
</form>
</div>



<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>